.wrapper {
    display: flex;
    flex-direction: column;
    margin: 30px 0 20px 0;
    width: 100%;
    max-width: 700px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: auto;
    transition: all 0.2s;

    h2 {
        margin-bottom: 20px;
        font-size: 26px;
        opacity: 0.7;
    }

    .body {
        font-size: 19px;
        line-height: 24px;
        text-align: start;
        margin-bottom: 25px;

        p {
            color: black;
            font-size: 20px;
            line-height: 24px;
            text-align: start;
            margin-bottom: 25px;
            font-weight: 500;

            span {
                font-weight: 700;
                background-color: yellow;
            }
        }

    }

    .footer {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 45px;
            padding: 5px;
            border-radius: 10px;
            font-size: 14px;
            background-color: #00f77a;
            transition: all 0.3s;
            cursor: pointer;
            font-size: 16px;
            color: #ffff;
        }

        a:hover {
            background-color: #1ed479;
            color: #ffff;
            width: 115px;
            font-size: 17px;
        }
    }
}

.wrapper:hover {
    box-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.1);
    transform: translateY(-2%);
}